Source: npm
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Jérémy Lal <kapouer@melix.org>
Section: javascript
Testsuite: autopkgtest-pkg-nodejs
Priority: optional
Build-Depends: debhelper-compat (= 13),
 bash-completion,
 dh-sequence-nodejs (>= 0.9.72),
 help2man <!nodoc>,
 node-abbrev <!nocheck>,
 node-agent-base <!nocheck>,
 node-ajv <!nocheck>,
 node-ansi-regex <!nocheck>,
 node-ansi-styles <!nocheck>,
 node-ansistyles <!nocheck>,
 node-aproba <!nocheck>,
 node-archy <!nocheck>,
 node-are-we-there-yet <!nocheck>,
 node-asap <!nocheck>,
 node-asn1 <!nocheck>,
 node-assert-plus <!nocheck>,
 node-asynckit <!nocheck>,
 node-aws-sign2 <!nocheck>,
 node-aws4 <!nocheck>,
 node-balanced-match <!nocheck>,
 node-bcrypt-pbkdf <!nocheck>,
 node-binary-extensions <!nocheck>,
 node-brace-expansion <!nocheck>,
 node-builtins <!nocheck>,
 node-cacache (>= 15) <!nocheck>,
 node-caseless <!nocheck>,
 node-chalk <!nocheck>,
 node-chownr <!nocheck>,
 node-clone <!nocheck>,
 node-color-convert <!nocheck>,
 node-color-name <!nocheck>,
 node-colors <!nocheck>,
 node-columnify <!nocheck>,
 node-combined-stream <!nocheck>,
 node-concat-map <!nocheck>,
 node-console-control-strings <!nocheck>,
 node-core-util-is <!nocheck>,
 node-dashdash <!nocheck>,
 node-debug <!nocheck>,
 node-defaults <!nocheck>,
 node-delayed-stream <!nocheck>,
 node-delegates <!nocheck>,
 node-depd <!nocheck>,
 node-diff <!nocheck>,
 node-ecc-jsbn <!nocheck>,
 node-encoding <!nocheck>,
 node-err-code <!nocheck>,
 node-extend <!nocheck>,
 node-extsprintf <!nocheck>,
 node-fancy-log <!nocheck>,
 node-fast-deep-equal <!nocheck>,
 node-forever-agent <!nocheck>,
 node-fs.realpath <!nocheck>,
 node-function-bind <!nocheck>,
 node-gauge <!nocheck>,
 node-getpass <!nocheck>,
 node-glob <!nocheck>,
 node-got <!nocheck>,
 node-graceful-fs <!nocheck>,
 node-gyp <!nocheck>,
 node-har-schema <!nocheck>,
 node-har-validator <!nocheck>,
 node-has-flag <!nocheck>,
 node-has-unicode <!nocheck>,
 node-hosted-git-info (>= 3.0.5~) <!nocheck>,
 node-http-signature <!nocheck>,
 node-https-proxy-agent <!nocheck>,
 node-iconv-lite <!nocheck>,
 node-imurmurhash <!nocheck>,
 node-indent-string <!nocheck>,
 node-inflight <!nocheck>,
 node-inherits <!nocheck>,
 node-ini <!nocheck>,
 node-ip <!nocheck>,
 node-ip-regex <!nocheck>,
 node-is-typedarray <!nocheck>,
 node-isexe <!nocheck>,
 node-isstream <!nocheck>,
 node-jsbn <!nocheck>,
 node-json-parse-better-errors (>= 1.0.2+~) <!nocheck>,
 node-json-schema <!nocheck>,
 node-json-schema-traverse <!nocheck>,
 node-json-stable-stringify <!nocheck>,
 node-json-stringify-safe <!nocheck>,
 node-jsonparse <!nocheck>,
 node-jsprim <!nocheck>,
 node-lru-cache <!nocheck>,
 node-marked-man,
 node-mime <!nocheck>,
 node-mime-types <!nocheck>,
 node-minimatch <!nocheck>,
 node-mkdirp (>= 1) <!nocheck>,
 node-ms <!nocheck>,
 node-mute-stream <!nocheck>,
 node-negotiator <!nocheck>,
 node-nopt <!nocheck>,
 node-normalize-package-data (>= 3.0.3~) <!nocheck>,
 node-npm-bundled <!nocheck>,
 node-npm-package-arg (>= 6.1.1) <!nocheck>,
 node-npmlog <!nocheck>,
 node-number-is-nan <!nocheck>,
 node-oauth-sign <!nocheck>,
 node-object-assign <!nocheck>,
 node-once <!nocheck>,
 node-opener <!nocheck>,
 node-p-map <!nocheck>,
 node-path-is-absolute <!nocheck>,
 node-performance-now <!nocheck>,
 node-promise-inflight <!nocheck>,
 node-promise-retry <!nocheck>,
 node-promzard <!nocheck>,
 node-psl <!nocheck>,
 node-punycode <!nocheck>,
 node-qs <!nocheck>,
 node-read <!nocheck>,
 node-read-package-json (>= 4.1.1~) <!nocheck>,
 node-readable-stream <!nocheck>,
 node-resolve <!nocheck>,
 node-retry <!nocheck>,
 node-rimraf <!nocheck>,
 node-safe-buffer (>= 5.2.1+~cs2.1.2) <!nocheck>,
 node-semver (>= 7.3.2~) <!nocheck>,
 node-set-blocking <!nocheck>,
 node-signal-exit <!nocheck>,
 node-spdx-correct <!nocheck>,
 node-spdx-exceptions <!nocheck>,
 node-spdx-expression-parse <!nocheck>,
 node-spdx-license-ids <!nocheck>,
 node-sshpk <!nocheck>,
 node-ssri (>= 8.0.0~) <!nocheck>,
 node-string-decoder <!nocheck>,
 node-string-width <!nocheck>,
 node-strip-ansi <!nocheck>,
 node-supports-color <!nocheck>,
 node-tap <!nocheck> <!nocheck>,
 node-tar <!nocheck>,
 node-text-table <!nocheck>,
 node-tunnel-agent <!nocheck>,
 node-tweetnacl <!nocheck>,
 node-typedarray-to-buffer <!nocheck>,
 node-unique-filename <!nocheck>,
 node-uri-js <!nocheck>,
 node-util-deprecate <!nocheck>,
 node-uuid <!nocheck>,
 node-validate-npm-package-license <!nocheck>,
 node-validate-npm-package-name <!nocheck>,
 node-verror <!nocheck>,
 node-which <!nocheck>,
 node-wide-align <!nocheck>,
 node-wrappy <!nocheck>,
 node-write-file-atomic <!nocheck>,
 node-yallist
Standards-Version: 4.6.0
Vcs-Browser: https://salsa.debian.org/js-team/npm
Vcs-Git: https://salsa.debian.org/js-team/npm.git
Homepage: https://docs.npmjs.com/
Rules-Requires-Root: no

Package: npm
Architecture: all
Depends: ${misc:Depends},
 ca-certificates,
 node-abbrev,
 node-agent-base,
 node-ajv,
 node-ansi-regex,
 node-ansi-styles,
 node-ansistyles,
 node-aproba,
 node-archy,
 node-are-we-there-yet,
 node-asap,
 node-asn1,
 node-assert-plus,
 node-asynckit,
 node-aws-sign2,
 node-aws4,
 node-balanced-match,
 node-bcrypt-pbkdf,
 node-binary-extensions,
 node-brace-expansion,
 node-builtins,
 node-cacache (>= 15),
 node-caseless,
 node-chalk,
 node-chownr,
 node-clone,
 node-color-convert,
 node-color-name,
 node-colors,
 node-columnify,
 node-combined-stream,
 node-concat-map,
 node-console-control-strings,
 node-core-util-is,
 node-dashdash,
 node-debug,
 node-defaults,
 node-delayed-stream,
 node-delegates,
 node-depd,
 node-diff,
 node-ecc-jsbn,
 node-encoding,
 node-err-code,
 node-extend,
 node-extsprintf,
 node-fancy-log,
 node-fast-deep-equal,
 node-forever-agent,
 node-fs.realpath,
 node-function-bind,
 node-gauge,
 node-getpass,
 node-glob,
 node-got,
 node-graceful-fs,
 node-gyp,
 node-har-schema,
 node-har-validator,
 node-has-flag,
 node-has-unicode,
 node-hosted-git-info,
 node-http-signature,
 node-https-proxy-agent,
 node-iconv-lite,
 node-imurmurhash,
 node-indent-string,
 node-inflight,
 node-inherits,
 node-ini,
 node-ip,
 node-ip-regex,
 node-is-typedarray,
 node-isexe,
 node-isstream,
 node-jsbn,
 node-json-parse-better-errors (>= 1.0.2+~),
 node-json-schema,
 node-json-schema-traverse,
 node-json-stable-stringify,
 node-json-stringify-safe,
 node-jsonparse,
 node-jsprim,
 node-lru-cache,
 node-mime,
 node-mime-types,
 node-minimatch,
 node-mkdirp (>= 1),
 node-ms,
 node-mute-stream,
 node-negotiator,
 node-nopt,
 node-normalize-package-data (>= 3.0.3~),
 node-npm-bundled,
 node-npm-package-arg (>= 6.1.1),
 node-npmlog,
 node-number-is-nan,
 node-oauth-sign,
 node-object-assign,
 node-once,
 node-opener,
 node-p-map,
 node-path-is-absolute,
 node-performance-now,
 node-promise-inflight,
 node-promise-retry,
 node-promzard,
 node-psl,
 node-punycode,
 node-qs,
 node-read,
 node-read-package-json (>= 4.1.1~),
 node-readable-stream,
 node-resolve,
 node-retry,
 node-rimraf,
 node-safe-buffer (>= 5.2.1+~cs2.1.2),
 node-semver (>= 7.3.2~),
 node-set-blocking,
 node-signal-exit,
 node-spdx-correct,
 node-spdx-exceptions,
 node-spdx-expression-parse,
 node-spdx-license-ids,
 node-sshpk,
 node-ssri (>= 8.0.0~),
 node-string-decoder,
 node-string-width,
 node-strip-ansi,
 node-supports-color,
 node-tar,
 node-text-table,
 node-tunnel-agent,
 node-tweetnacl,
 node-typedarray-to-buffer,
 node-unique-filename,
 node-uri-js,
 node-util-deprecate,
 node-uuid,
 node-validate-npm-package-license,
 node-validate-npm-package-name,
 node-verror,
 node-which,
 node-wide-align,
 node-wrappy,
 node-write-file-atomic,
 node-yallist,
 nodejs (>= 10)
Recommends: git
Provides: ${nodejs:Provides}
Description: package manager for Node.js
 Node.js is an event-based server-side javascript engine.
 .
 npm is the package manager for the Node JavaScript platform.  It puts
 modules in place so that node can find them, and manages dependency
 conflicts intelligently.
 .
 It is extremely configurable to support a wide variety of use cases.
 Most commonly, it is used to publish, discover, install, and develop
 node programs.
